#UNITY
#-----
*.suo
*.csproj
*.unityproj
*.pidb
*.sln
*.userprefs
Library/
Builds/
[Tt]emp/
[Tt]emp.meta
obj


#PROGRAMMERS
#-----------
_ReSharper*
*.project
pom.xml
*.DotSettings
*.user
.vscode/


#ARTISTS
#-------
*.blend1
*.blend2


#PROJECT
#-------
Author/
